body {
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


.todo {
	display: inline;
}


.todo button {
	opacity: 0.1;
}

.todo button:hover {
	opacity: 1;
	background-color: red;
	border: none;
	border-radius: 5px;
}

.todo .todo-Name {
	background-color: transparent;
	border-color: transparent;
}

.todo .todo-Check:hover {
	border-color: black;
}

.todo-Name {
	width:50%;
	display: inline;
	margin-left: 3px; 
}


.todo-Check {
	width:10%;
	display: inline;
}


.todo-Remove {
	width: 10%;
	display: inline;
	opacity: 0.4;
	margin-left: 5px;
}


.todo-Priority {
	width:10%;
	display: inline;
	margin-left: 5px; 
	background-color: transparent;
	border-color: transparent;
}


.box {
	display: block;
	position: fixed;
	width: 400px;
	height: 100px;
	top: 60px;
	left: 375px;
	border: 10px;
	padding-bottom: 60px;
	margin: 10 auto;
	border-color: black;
	border-radius: 5px;
	background: rgba(220, 215, 214, 0);
	/*text-align: center;
	font-size: 150px;*/
}


.time {
	font-family: Bookman, serif;
	margin-left: 70px;
	color: white;
	letter-spacing: 3px;
	text-shadow: 1px 1px white;
	font-size: 135px;
}


.greet {
	font-family: Georgia, serif;
	color: white;
	letter-spacing: 3px;
	/*text-shadow: 1px 1px white;*/
	font-size: 50px;
}


.list {
	display: block;
	position: fixed;
	width: 380px;
	height: 100px;
	top: 285px;
	left: 375px;
	border: 10px;
	padding: 10px;
	margin: 10px 0px;
	border-color: black;
	border-radius: 5px;
	background: rgba(220, 215, 214, 0);
	text-align: center;
	letter-spacing: 3px;
	font-size: 25px;
	color: white;
}


.wrapper {
	display: block;
	flex-direction: column;
	position: fixed;
	width: 200px;
	height: 200px;
	top: 350px;
	left: 485px;
	border: 10px;
	padding: 10px;
	margin: 5px auto;
	border-color: black;
	border-radius: 5px;
	background: rgba(220, 215, 214, 0.1);
	text-align: center;
	letter-spacing: 3px;
	font-size: 25px;
	color: white;
}


input {
	width: 60%;
}


